<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de modification de mot de passe</title>
</head>
<body>
    <h1>Confirmation de modification de mot de passe</h1>
    <p>Bonjour,</p>
    <p>Vous avez oublié le mot de passe de votre compte : {{ email }}, veuillez cliquer sur le lien ci-dessous pour confirmer la modification de votre modification :</p>
    <a href="{{url}}">Confirmer la modification de mon mot de passe</a>
</body>
</html>
