<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de modification d'email</title>
</head>
<body>
    <h1>Confirmation de modification d'email</h1>
    <p>Bonjour,</p>
    <p>Veuillez cliquer sur le lien ci-dessous pour confirmer la modification de votre email :</p>
    <a href="{{url}}">Confirmer la modification de mon email</a>
</body>
</html>
