<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compte inactif supprimé</title>
</head>
<body>
    <h1>Compte inactif supprimé</h1>
    <p>Bonjour {{ firstName }} {{ lastName }},</p>
    <p>
        Vous ne vous êtes pas connecté depuis 2 ans avec votre compte : {{ email }}.
    </p>
    <p>Votre compte est définitivement supprimé.</p>
</body>
</html>
