<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compte inactif bientôt supprimé</title>
</head>
<body>
    <h1>Compte inactif bientôt supprimé</h1>
    <p>Bonjour {{ firstName }} {{ lastName }},</p>
    <p>
        Vous ne vous êtes pas connecté depuis presque 2 ans avec votre compte : {{ email }}.
    </p>
    <p>Sans connexion de votre part, votre compte sera définitivement supprimé.</p>
</body>
</html>
